%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
%h1.newh1
  Photos with #{@tag.name}
%nav
  %ul.topnav
    %li.to_new
      = link_to "New Photo", new_photo_path, class: "new_photo"
    %li |
    %li.to_photo
      = link_to "Photos", photos_path
    %li.to_tag
      = link_to "Tags", tags_path
#photos.tilebox
  - @tag.photos.each do |photo|
    .tiles
      .photoimg
        = image_tag(photo.img_url)
      .phototitle
        = link_to photo.title, photo_path(photo)