<meta name="viewport" content="width=device-width, initial-scale=1">

<nav>
  <ul class="topnav">   
    <li class="to_new">
      <%= link_to "New Photo", new_photo_path, class: "new_photo" %>
    </li>
    <li class="to_photo">
      <%= link_to "Photos", photos_path %>
    </li>
    <li class="to_tag">
      <%= link_to "Tags", tags_path %>
    </li>
  </ul>
</nav>

<%= form_for(@photo) do |f| %>
  <div class="form">
    <ul class="errors">
    <% @photo.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :img_url %><br />
      <%= f.text_field :img_url %>
    </div>
    <div class="field">
      <%= f.label :tag_list %><br />
      <%= f.text_field :tag_list %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>  
<% end %>