<meta name="viewport" content="width=device-width, initial-scale=1">

<h1 class="newh1">Photos</h1>

<nav>
	<ul class="topnav">		
		<li class="to_new">
			<%= link_to "New Photo", new_photo_path, class: "new_photo" %>
		</li>
		<li class="to_photo">
			<%= link_to "Photos", photos_path %>
		</li>
		<li class="to_tag">
			<%= link_to "Tags", tags_path %>
		</li>
	</ul>
</nav>	

<div class="tilebox" id="photos">
  <% @photos.each do |photo| %> 
    <div class="tiles">
	    <div class="photoimg">
	    	<%= image_tag(photo.img_url) %>
	    </div>
	    <div class="phototitle">
	      <%= link_to photo.title, photo_path(photo) %>
	    </div>
		</div>
  <% end %>
</div>
