<h1><%= @photo.title %></h1>
<p>
	<%= @photo.description %>
</p>
<td>
  <%= image_tag(@photo.img_url) %>	
</td>
<p>
  Tags:
  <% @photo.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<p>
	<%= link_to "edit", edit_photo_path(@photo) %>
</p>
<p>
	<%= link_to "delete", photo_path(@photo), method: :delete, data: {confirm: "Are you sure?"} %>
</p>
<p>
	<%= link_to "<< Back to Photos List", photos_path %>
</p>