<h1 class="newh1"><%= @photo.title %></h1>

<nav>
	<ul class="topnav">		
		<li class="to_new">
			<%= link_to "New Photo", new_photo_path, class: "new_photo" %>
		</li>
		<li class="to_photo">
			<%= link_to "Photos List", photos_path %>
		</li>
		<li class="to_tag">
			<%= link_to "Tags List", tags_path %>
		</li>
	</ul>
</nav>

<ul class="tilebox" id="photos">
  <div class="tiles">
    <div class="photoimg">
    	<%= image_tag(@photo.img_url) %>
    </div>
    <li class="photodesc">
			<%= @photo.description %>
    </li>
		<div class="phototag">
			Tags: 
			<% @photo.tags.each do |tag| %>
			<%= link_to tag.name, tag_path(tag) %>
	    <% end %>
	  </div>	
	</div>
</ul>

<p>
	<%= link_to "edit", edit_photo_path(@photo) %>
</p>
<p>
	<%= link_to "delete", photo_path(@photo), method: :delete, data: {confirm: "Are you sure?"} %>
</p>
<p>
	<%= link_to "<< Back to Photos List", photos_path %>
</p>